/**
 * Tag Component Demo Style for Uxcore
 * @author peijie.dpj
 *
 * Copyright 2015-2016, Uxcore Team, Alinw.
 * All rights reserved.
 */

@import "../node_modules/kuma-base/theme/orange";
@import "../src/Tag.less";

.demo {
  width: 240px;
  margin: 50px auto;
  background-color: #fafafa;
}