/**
 * Tag Component Demo Style for Uxcore
 * @author peijie.dpj
 *
 * Copyright 2015-2016, Uxcore Team, Alinw.
 * All rights reserved.
 */

@import "../node_modules/kuma-base/theme/orange";
@import "../src/Tag.less";

.demo {
  width: 300px;
  padding: 20px;
  margin: 100px auto;
}

h2 {
  margin: 10px 0;
}